In [84]:
import h2o
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [31]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------
H2O cluster uptime:         54 mins 24 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.23.0.4597
H2O cluster version age:    18 days
H2O cluster name:           H2O_from_python_alchemist_fll1vt
H2O cluster total nodes:    1
H2O cluster free memory:    1.115 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.7 final
--------------------------  ---------------------------------------------------

In [97]:
data = h2o.import_file("http://coursera.h2o.ai/house_data.3487.csv")
data = h2o.H2OFrame.as_data_frame(data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [99]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [100]:
#extracting date from date column
data['year'] = pd.DatetimeIndex(data['date']).year
data['month'] = pd.DatetimeIndex(data['date']).month
data['day'] = pd.DatetimeIndex(data['date']).day

In [101]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,2014,10,13
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,2014,12,9
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,2015,2,25
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,2014,12,9
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,2015,2,18

In [102]:
data = h2o.H2OFrame(data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [103]:
data

id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day
7.1293e+09,20141013T000000,221900,3,1,1180,5650,1,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014,10,13
6.4141e+09,20141209T000000,538000,3,2.25,2570,7242,2,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639,2014,12,9
5.6315e+09,20150225T000000,180000,2,1,770,10000,1,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2015,2,25
2.4872e+09,20141209T000000,604000,4,3,1960,5000,1,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2014,12,9
1.9544e+09,20150218T000000,510000,3,2,1680,8080,1,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2015,2,18
7.23755e+09,20140512T000000,1.225e+06,4,4.5,5420,101930,1,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,2014,5,12
1.3214e+09,20140627T000000,257500,3,2.25,1715,6819,2,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,2014,6,27
2.008e+09,20150115T000000,291850,3,1.5,1060,9711,1,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,2015,1,15
2.4146e+09,20150415T000000,229500,3,1,1780,7470,1,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,2015,4,15
3.7935e+09,20150312T000000,323000,3,2.5,1890,6560,2,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,2015,3,12

In [107]:
train, test = data.split_frame([0.9],seed = 123)
print("%d/%d"% (train.nrow,test.nrow))

19462/2151

In [114]:
y = "price" # Setting response and the predictors variables
ignoreFields = [y,"id","date","waterfront","view","sqft_basement","yr_renovated"]
x = [i for i in train.names if i not in ignoreFields]
nfolds = 5

In [120]:
#Step 2
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
from h2o.estimators.random_forest import H2ORandomForestEstimator
from h2o.estimators.gbm import H2OGradientBoostingEstimator
from h2o.estimators.deeplearning import H2ODeepLearningEstimator
from h2o.estimators.stackedensemble import H2OStackedEnsembleEstimator

In [116]:
gbm = H2OGradientBoostingEstimator(model_id = "defaults",
                                  ntrees = 35,
                                  max_depth = 25,
                                  sample_rate = 0.3,    # Row sample rate
                                  nfolds = nfolds,
                                  fold_assignment = "Modulo",
                                  keep_cross_validation_predictions = True,
                                  seed = 136,
                                 )
gbm.train(x, y, train)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [117]:
mRF = H2ORandomForestEstimator(model_id = "rf1",
                               ntrees = 50,
                               max_depth = 20,
                               sample_rate = 0.3,               # Row sample rate
                               nfolds = nfolds,
                               fold_assignment = "Modulo",
                               keep_cross_validation_predictions = True,
                               seed = 126
                                 )
mRF.train(x, y, train)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [118]:
dl = H2ODeepLearningEstimator(model_id = "deep_learning_model",
                              epochs = 20,
                              stopping_rounds = 6,
                              stopping_tolerance = 0.01,
                              stopping_metric = "RMSE",
                              mini_batch_size = 1,
                              hidden = [120,120],
                              l1=1e-5,                        ## add some L1/L2 regularization
                              #l2=1e-5,
                              max_w2=10.0,
                              nfolds = nfolds,
                              fold_assignment = "Modulo",
                              keep_cross_validation_predictions = True,
                              seed = 134,
                              reproducible = True,
                                      )

get_ipython().run_line_magic('time', 'dl.train(x, y, train)')

deeplearning Model Build progress: |██████████████████████████████████████| 100%
CPU times: user 1.21 s, sys: 89.9 ms, total: 1.3 s
Wall time: 2min 41s

In [122]:
glm = H2OGeneralizedLinearEstimator(
    family = "gaussian",
    model_id = "glm",
    nfolds = nfolds,
    fold_assignment = "Modulo",
    keep_cross_validation_predictions = True
)
glm.train(x,y,train)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [124]:
print(gbm.cross_validation_metrics_summary())
print(mRF.cross_validation_metrics_summary()) 
perf3 = dl.model_performance(test) 
print(perf3)
print(glm.cross_validation_metrics_summary())

Cross-Validation Metrics Summary:

                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
mae                     73602.8      1106.32      74127.6       75437.2       74461.9       73151.9       70835.6
mean_residual_deviance  2.07214e+10  1.69625e+09  2.05155e+10   2.45073e+10   2.0553e+10    2.10829e+10   1.6948e+10
mse                     2.07214e+10  1.69625e+09  2.05155e+10   2.45073e+10   2.0553e+10    2.10829e+10   1.6948e+10
r2                      0.846952     0.00741845   0.849461      0.830734      0.847067      0.844038      0.86346
residual_deviance       2.07214e+10  1.69625e+09  2.05155e+10   2.45073e+10   2.0553e+10    2.10829e+10   1.6948e+10
rmse                    143706       5918.77      143232        156548        143363        145200        130185
rmsle                   0.184325     0.00194836   0.186411      0.187355      0.180908      0.185853      0.181098

Cross-Validation Metrics Summary:

                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
mae                     78014        1172.5       79725         79343.8       78828.7       76777.3       75395.1
mean_residual_deviance  2.24542e+10  1.66164e+09  2.21244e+10   2.60046e+10   2.33198e+10   2.21141e+10   1.87083e+10
mse                     2.24542e+10  1.66164e+09  2.21244e+10   2.60046e+10   2.33198e+10   2.21141e+10   1.87083e+10
r2                      0.834043     0.00703056   0.837655      0.820393      0.82648       0.836409      0.849278
residual_deviance       2.24542e+10  1.66164e+09  2.21244e+10   2.60046e+10   2.33198e+10   2.21141e+10   1.87083e+10
rmse                    149639       5581.37      148743        161259        152708        148708        136778
rmsle                   0.193033     0.00229407   0.19836       0.194946      0.191011      0.191625      0.189223

ModelMetricsRegression: deeplearning
** Reported on test data. **

MSE: 23805919832.516533
RMSE: 154291.67129990048
MAE: 79835.57941444199
RMSLE: 0.19149892106359542
Mean Residual Deviance: 23805919832.516533

Cross-Validation Metrics Summary:

                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
mae                     231490       714.184      230673        232409        229934        231980        232452
mean_residual_deviance  1.33202e+11  4.60149e+09  1.3442e+11    1.42915e+11   1.3279e+11    1.33437e+11   1.22446e+11
mse                     1.33202e+11  4.60149e+09  1.3442e+11    1.42915e+11   1.3279e+11    1.33437e+11   1.22446e+11
null_deviance           5.25455e+14  1.80835e+13  5.30562e+14   5.63681e+14   5.2355e+14    5.26203e+14   4.83281e+14
r2                      0.0129815    0.000432317  0.0136501     0.0129191     0.0119249     0.0128905     0.013523
residual_deviance       5.18476e+14  1.79428e+13  5.23297e+14   5.56369e+14   5.16819e+14   5.19337e+14   4.76561e+14
rmse                    364858       6327.6       366633        378041        364404        365290        349923
rmsle                   0.542551     0.0047291    0.546235      0.542373      0.530999      0.54187       0.551276

In [125]:
model_id = [gbm.model_id,mRF.model_id,dl.model_id,glm.model_id]

In [126]:
Stacked_Ensemble_m = H2OStackedEnsembleEstimator(model_id = "stacked_ens",
                                   base_models=model_id, seed = 145)

In [127]:
Stacked_Ensemble_m.train(x, y, train)

stackedensemble Model Build progress: |███████████████████████████████████| 100%

In [128]:
print(Stacked_Ensemble_m.rmse())

363912.8859495228

In [132]:
SE_path = h2o.save_model(model=Stacked_Ensemble_m)